{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<h1>About</h1>
<p>My name is Orion and this was the final project for Harvard's computer science course CS50!
    I learned a lot throughout the course, and one of the things that I learned was how to build a simple
    web application. I applied that knowledge to create a pretty basic, but useful tool: a currency convertor!
    This was built with Python and Flask. The api was provided through a free subscription to exchangeratesapi.io.
    I'm excited to continue applying my knowledge to build more advanced projects in the future.
    Thank you for checking out this project.
</p>


{% endblock %}